---
import Layout from "./layouts/Layout.astro";
import '../styles/404.css';

export const prerender = false

const time = new Date().toLocaleTimeString('en-US', { hour12: false });
---

<Layout title="404 - Not Found">
    <div class="scanlines"></div>
<div class="intro-wrap">
	<div class="noise"></div>
	<div class="noise noise-moving"></div>
	<div class="play" data-splitting>
        <a href="/">Home</a>
    </div>
	<div class="time">{time}</div>
    <div class="text">
        <div class="text-9xl font-bold text-center">404</div>
        <div class="text-2xl font-semibold text-center">Page Not Found</div>
    </div>
	<div class="recordSpeed">SLP 0:00:00</div>
</div>
</Layout>
