---
import { AlertCircle, AlertTriangle, Info } from "lucide-react";

const { node } = Astro.props;

const alertConfig = {
	info: {
		Icon: Info,
		style: "bg-blue-100 border-blue-500 text-blue-700",
		iconClass: "text-blue-500",
	},
	warning: {
		Icon: AlertTriangle,
		style: "bg-yellow-100 border-yellow-500 text-yellow-700",
		iconClass: "text-yellow-500",
	},
	danger: {
		Icon: AlertCircle,
		style: "bg-red-100 border-red-500 text-red-700",
		iconClass: "text-red-500",
	},
};

const { Icon, style, iconClass } = alertConfig[node.type];
---
<div
    class:list={[
        "my-4 flex items-start gap-x-2 rounded-lg border p-4",
        style,
    ]}
>
    <Icon class:list={["size-5", iconClass]} />
    <p class="m-0 text-sm">{node.message}</p>
</div>