---
import { LinkIcon } from 'lucide-react';
const { node, children } = Astro.props;
---
<h3 class="group relative" id={node._key}>
    {children}
    <a
        href={`#${node._key}`}
        class="absolute left-0 top-0 bottom-0 -ml-8 flex items-center opacity-0 transition-opacity group-hover:opacity-100"
    >
        <LinkIcon className="size-5" />
    </a>
</h3>
