---
import { PortableText } from "astro-portabletext";
import { cn } from "@/lib/utils";
import Alert from "./portable-text/Alert.astro";
import SanityImage from "./portable-text/SanityImage.astro";

const { value, className } = Astro.props;

const components = {
	type: {
		image: SanityImage,
		alert: Alert,
	},
};
---
<div class={cn("prose prose-blue max-w-none dark:prose-invert lg:prose-lg", className)}>
    <PortableText components={components} value={value} />
</div>
