body::before {
    content: '';
    position: fixed;
    z-index: -1;
    background: var(--third-glow);
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    margin-left: -200px;
    filter:blur(90px);  
    top: calc(50vh - 50vw/2);
    left: calc(50vw );
    animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }
  
body::after {
    content: '';
    position: fixed;
    z-index: -1;
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 500px;
    height: 700px;
    filter:blur(90px);
    top: calc(50vh - 50vw/2);
    left: calc(50vw - 50vw/2);
    animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  }

  @keyframes animateBefore {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200px) scale(0.8);
  
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes animateAfter{
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-250px) scale(1.2);
  
    }
    100% {
      transform: translateX(0);
    }
  }

  .ai {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateY(0);
}

.ai:before {
    position: absolute;
    z-index: -2; 
    content: '';
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    height: 10px;
    width: 90%;
    opacity: 0.8;
    background: radial-gradient(
        ellipse at center, 
        rgba(0, 0, 0, 0.35) 0%, 
        rgba(0, 0, 0, 0) 80%
    );
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}


  /* .ai {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: 0 8px 6px -6px black;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    transform: translateY(5px);
  }
  
.ai:before,.ai::after {
    display: block;
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    background: #FFB347;
    border-radius: 75px;
    z-index: -1;
    animation: 2s clockwise infinite;
  }  

.ai:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 105%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.ai:after {
    background: #F3CE5E;
    animation: 3s counterclockwise infinite;
  } */
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }